:root{

--primary:#0057B8;

--secondary:#0B63CE;

--accent:#00B67A;

--dark:#0F172A;

--gray:#64748B;

--light:#F8FAFC;

--white:#ffffff;

--border:#E2E8F0;

--shadow:0 15px 40px rgba(0,0,0,.08);

--radius:14px;

}